.b-slider#product-slider
  - for i in [1..8]
    %a.b-slider__item{href: 'http://assets.kiiiosk.ru/uploads/product_image/image/5267/image.png', data: {size: '1500x1500'}, ks-pswp-gallery-item: true}
      %img{src: 'http://thumbor.kiiiosk.ru/unsafe/486x0/http://assets.kiiiosk.ru/uploads/product_image/image/5267/image.png', alt: ''}

.b-slider.b-slider_thumbs#product-thumbs
  - for i in [1..8]
    %a.b-slider__item{href: 'http://assets.kiiiosk.ru/uploads/product_image/image/5267/image.png'}
      %img{src: 'http://thumbor.kiiiosk.ru/unsafe/486x0/http://assets.kiiiosk.ru/uploads/product_image/image/5267/image.png', alt: ''}
